[Editors & Tooling]
.idea/
.vscode/
**/yarn-error.log
.npm
*.iml

[API]
**/node_modules
build/


# nyc test coverage
.nyc_output/
coverage/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# We recommend Yarn instead.
package-lock.json
